<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= client.age %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= client.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Doctor:</strong>
    <%= client.doctor_id %>
  </p>

</div>
