<div id="<%= dom_id doctor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= doctor.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Specialization:</strong>
    <%= doctor.specialization %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= doctor.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= doctor.phone_number %>
  </p>

</div>
