<div id="<%= dom_id food %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Meal:</strong>
    <%= food.meal_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= food.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= food.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit:</strong>
    <%= food.unit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Calories:</strong>
    <%= food.calories %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Protein:</strong>
    <%= food.protein %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Carbohydrates:</strong>
    <%= food.carbohydrates %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fat:</strong>
    <%= food.fat %>
  </p>

</div>
